:root {
    --color-primary: #543adc;
    --color-secondary: #fff;
    --color-accent: #4318ff;
    --color-headings: #2d2d2d;
    --color-body: #8f8f8f;
}

html {
    font-size: 62.5%;
    margin: 16px;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 0.4rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;

}

li {
    padding: 0.4rem;
}

li a {
    padding: 8px;
    background-color: #fff;
}

p {
    margin-top: 0;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin: 0.4rem;
}

h1 {
    font-family: 'kreon', Arial, Helvetica, sans-serif;
    font-size: 4.2rem;
}

@media screen and (min-width:1024px) {
    body {
        font-size: 2.0rem;
    }

    h1 {
        font-size: 6.4rem;
    }
}

.block {
    display: block;
    width: 58%;
    border: none;
    background-color: var(--color-primary);
    padding: 14px 28px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-secondary);
    text-transform: uppercase;
    border-radius: 5px;
    justify-content: center;
}

@media screen and (min-width:1024px) {
    .block {
        width: 20%;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .block:hover {
        background-color: #8b7cd1;
        color: var(--color-headings);
    }

    li {
        display: inline;
        text-decoration: none;
    }
}